.clearfix {
	content: "";
	clear: both;
	display: table;
}

body {
  font-size: 16px;
  color: #fff;
  background-color: #000000;
  font-family: 'Roboto', Sans Serif;
}


h1 {
	color: #fff;
	font-size: 1.5em;
}

p {
	font-size: 1em;
	font-family: 'Roboto':hover, Sans Serif;
}

/*header*/
#header-nav {
	background-color: #000000;
	border-radius: 0;
	border: 0;
	border-bottom: #ffffff solid 3px;
	margin-bottom: 0px;
}


#logo-img {
	background: url('../img/logo.png') no-repeat;
	width: 150px;
	height: 150px;
	margin: 10px 15px 10px 0;
}

.navbar-brand {
	padding-top: 25px;
	height: 100%;
}

.navbar-brand h1 { /*Restaurant Name*/
	font-family: 'Roboto', Sans Serif;
	color: #fff;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 0;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

.navbar-brand p {
	color: #fff;
	text-transform: uppercase;
	font-size: .7em;
	margin-top: 15px;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #ffffff;
  text-align: center;
}
#nav-list a:hover {
	border: 1;
	border-bottom: #ffffff solid 3px;
}
#nav-list a span {
  font-size: 1.8em;
}

#phone {
  margin-top: 5px;
}
#phone a { /* Phone number */
  text-align: right;
  padding-bottom: 0;
}
#phone div { /* We Deliver */
  color: #ffffff;
  text-align: right;
  padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #a40203;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -60px;
}

.img-responsive{
	width: 100%;
}

.container .jumbotron {
	padding: 0px;
}

#menu-tile, #sake-tile, #map-tile {
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	overflow: hidden;
}

#menu-tile:hover, #sake-tile:hover {
	border: 1px solid #ffffff;
	background-color: #ffffff;
	opacity: .5;
}


#menu-tile {
	background: url(../img/sushi-menu.png);
	background-position: center;
	background-size: cover;
}

#sake-tile {
	background: url(../img/sake-menu.png);
	background-position: center;
	background-size: cover;
}

#map-tile{

}

#menu-tile span, #sake-tile span, #map-tile span {
	position: absolute;
	bottom: 40%;
	width: 100%;
	text-align: center;
	font-size: 1.6em;
	text-transform: uppercase;
	color:#fff;
}



/*header*/

.category-tile {
	position: relative;
	overflow: hidden;
	width: 200px;
	height: 200px;
	margin: 0 auto 15px;
}

.category-tile span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
	background-color: #000;
	color: #a40203;
	opacity: .5;
}
 #menu-categories-title + div {
 	margin-bottom: 50px;
 }

 .menu-item-tile {
 	margin-bottom: 25px;
 }

 .menu-item-tile hr {
 	width: 80%
 }

 .menu-item-tile .menu-item-price {
 	font-size: 1.1em;
 	text-align: right;
 	margin-top:-15px;
 	margin-bottom:-15px;
 }

 .menu-item-photo {
 	position: relative;
 	overflow: hidden;
 	padding: 0;
 	margin-right: -15px;
 	margin-left: 0;
 	margin-bottom: 20px;
 	max-width: 250px;
 }
.menu-item-photo div {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 40px;
	text-align: center;
	background-color: #a40203;
}

.menu-item-description {
	padding-right: 30px;
}

h3 .menu-item-title {
	margin: 0 0 10px;
}

.menu-item-details {
	font-size: .9em;
}

/*large devices only*/
@media (min-width: 1200px) {

	.container .jumbotron {
		background: url("https://www.thingstododubai.com/restaurant-ramusake-dubai-picture.mjr6nc.max.jpg");
		height: 700px;
	}
}

/*medium devices only*/
@media (min-width: 992px) and (max-width: 1199px) {

/* DOESN'T WORK IMG
	#logo-img {
		background: url('../img/logo.png') no-repeat;
		width: 100px;
		height: 100px;
		margin: 10px 15px 10px 0;
	}
*/

	.container .jumbotron {
		background: url("https://www.thingstododubai.com/restaurant-ramusake-dubai-picture.mjr6nc.max.jpg");
		height: 700px;
	}

}

/*small devices only*/
@media (min-width: 768px) and (max-width: 991px) {

	.container .jumbotron {
		background: url("https://www.thingstododubai.com/restaurant-ramusake-dubai-picture.mjr6nc.max.jpg");
		height: 500px;
	}

}

/*extra small devices only*/
@media (max-width: 767px) {

	#collapsable-nav a {
		font-size: 1.2em;
	}

	#collapsable-nav a span{
		font-size: 1em;
		margin-right: 5px;
	}

	.menu-item-photo {
		margin-right: auto;
	}

	.menu-item-title, .menu-item-price, .menu-item-description {
		text-align: center;
	}

}

/* super extra small devices only*/
@media (max-width: 479px) {

	.col-xxs-12 {
		position: relative;
		width: 100%;
		min-height: 1px;
		padding: 0 15px 0 15px;
		float: left;
	}

}

.panel-footer {
	margin-top: 30px;
	padding: 15px 0 30px 0;
	background-color: #a40203;
}

.panel-footer div.row {
	margin-bottom: 35px;
}

#hours, #address  {
	line-height: 2;
}



